<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.Kokoro">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Kokoro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".crise.CriseActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showWhenLocked="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Kokoro"
            android:turnScreenOn="true" />

        <activity
            android:name=".alerte.AlerteActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Kokoro"
            android:turnScreenOn="true" />

        <receiver
            android:name=".alerte.DeclencheurAlerte"
            android:exported="false" />

        <receiver
            android:name=".crise.ReceveurDemarrage"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
